In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
%matplotlib inline
plt.rc('font', family='Malgun Gothic')
plt.rc('axes', unicode_minus=False)

In [7]:
sub_12 = pd.read_csv('data/CARD_SUBWAY_MONTH_201912.csv', encoding='cp949')
sub_1 = pd.read_csv('data/CARD_SUBWAY_MONTH_202001.csv', encoding='cp949')

In [10]:
sub_2 = pd.read_csv('data/CARD_SUBWAY_MONTH_202002.csv')
sub_3 = pd.read_csv('data/CARD_SUBWAY_MONTH_202003.csv', encoding='cp949')

In [30]:
sub_12 = sub_12.drop('역ID', axis=1)

In [31]:
sub_12.head()

       사용일자  노선명    역명  승차총승객수  하차총승객수      등록일자
0  20191201  1호선    종각   19093   17141  20191204
1  20191201  1호선  종로3가   19646   17772  20191204
2  20191201  1호선  종로5가   13716   13149  20191204
3  20191201  1호선   동대문   11040   13079  20191204
4  20191201  1호선   신설동    8498    8322  20191204

In [17]:
sub_1 =sub_1.reset_index()

In [22]:
sub_1.columns=['사용일자', '노선명', '역ID', '역명', '승차총승객수', '하차총승객수', '등록일자','삭제']

In [24]:
sub_1.head()

       사용일자    노선명   역ID          역명   승차총승객수   하차총승객수      등록일자  삭제
0  20200101    1호선   152          종각  20427.0  16301.0  20200104 NaN
1  20200101    1호선   151          시청  12126.0  10516.0  20200104 NaN
2  20200101  우이신설선  4713         신설동    892.0    828.0  20200104 NaN
3  20200101  우이신설선  4712          보문    917.0    855.0  20200104 NaN
4  20200101  우이신설선  4711  성신여대입구(돈암)   2010.0   2363.0  20200104 NaN

In [32]:
sub_1 = sub_1.drop('삭제', axis=1)

KeyError: "['삭제'] not found in axis"

In [33]:
sub_1 = sub_1.drop('역ID', axis=1)

In [34]:
sub_1.head()

       사용일자    노선명          역명   승차총승객수   하차총승객수      등록일자
0  20200101    1호선          종각  20427.0  16301.0  20200104
1  20200101    1호선          시청  12126.0  10516.0  20200104
2  20200101  우이신설선         신설동    892.0    828.0  20200104
3  20200101  우이신설선          보문    917.0    855.0  20200104
4  20200101  우이신설선  성신여대입구(돈암)   2010.0   2363.0  20200104

In [36]:
sub_2 = sub_2.drop('역ID', axis=1)

KeyError: "['역ID'] not found in axis"

In [37]:
sub_2.head()

       사용일자  노선명      역명  승차총승객수  하차총승객수      등록일자
0  20200201  과천선    경마공원   12159   12362  20200204
1  20200201  과천선     대공원    2761    2916  20200204
2  20200201  과천선      과천    3607    3224  20200204
3  20200201  과천선  정부과천청사    6872    6620  20200204
4  20200201  과천선     인덕원   16458   16048  20200204

In [39]:
sub_3.columns = ['사용일자', '노선명', '역명', '승차총승객수', '하차총승객수', '등록일자']

In [43]:
all_sub['연월'] = all_sub['사용일자'].astype(str).map(lambda x:x[:-2])

In [59]:
df = pd.pivot_table(all_sub, index=['연월','역명'],values=['승차총승객수','하차총승객수']).reset_index()